.workouts {
    &-container {
        height: calc(100vh - 30.7em);
        overflow: scroll;

        &-top {
            height: 10em;
        }

        .rows {
            display: grid;
            grid-template-columns: 38% 52% 10%;
            justify-items: start;
        }
    }

    .filters-container {
        display: flex;
        gap: 0.5em;

        input {
            width: 60%;
        }
    }

    h2 {
        margin: 0.3em 0;
    }
}