.workouts {
    &-container {
        height: calc(100vh - 17.4em);
        overflow: scroll;
        margin-top: 0.5em;

        .button-container {
            margin-top: 1em;
        }

        .row {
            display: grid;
            grid-template-columns: 88% 1fr;
            justify-items: start;
            align-items: center;
            width: 96%;
            height: 2.75em;

            p {
                line-height: 0.9em;
                height: 0.9em;
                margin: 0;
            }

            input {
                justify-self: center;
                height: 1em;
                margin: 0;
            }
        }
    }

    .filters-container {
        display: flex;
        gap: 0.5em;

        input {
            width: 60%;
            padding-top: 0.3em;
            padding-bottom: 0.3em;
        }
    }

    h2 {
        margin: 0.3em 0;
    }

    .modal {
        &-main {

            h3 {
                margin-top: 0;
                margin-bottom: 0.5em;
            }

            .checkbox-container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1em;
                margin-top: 0.5em;
                margin-bottom: 0.75em;
            }
        }
    }
}