.routine {
    .routine-container {
        height: calc(100vh - 18em);
        overflow: scroll;

        .rows {
            display: flex;
            align-items: center;
            justify-content: space-between;

            input {
                width: 1.7em;
                margin-right: 0.2em;
                text-align: center;
            }
        }
    }
}