.routine {
    h1 {
        margin-bottom: 0;
    }

    .sets {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 17em);
        overflow: scroll;
        margin-top: 1em;
        margin-bottom: 0.5em;
        gap: 1em;

        .set {
            width: 97.5%;
            display: flex;
            align-items: center;
            gap: 0.8em;

            .icon-container {
                padding: 0.2em 0.2em 0.2em 0;
            }

            &-data {
                width: 100%;

                .name-container {
                    display: flex;
                    align-items: center;
                    gap: 0.2em;
                    margin-bottom: 0.75em;

                    .exercise-name {
                        font-weight: bold;
                        line-height: 0.7em;
                        height: 1em;
                    }
                }

                .row {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    input::placeholder {
                        font-style: italic;
                        opacity: 0.5;
                    }

                    label {
                        line-height: 1em;
                        height: 1.3em;
                    }

                    input {
                        width: 2em;
                        height: 1.4em;
                        margin-right: 0.2em;
                        text-align: center;
                    }

                    .delete-container {
                        height: 1em;
                        width: 1em;

                        i {
                            svg {
                                fill: var(--icon);
                            }
                        }
                    }
                }

                .row:not(:last-child) {
                    margin-bottom: 0.5em;
                }
            }
        }
    }

    &-template-container {
        display: flex;
        position: absolute;
        right: 0.6em;
        top: 3.3em;
        gap: 0.4em;
        padding: 0.3em 0.5em;
        background-color: var(--action-tertiary);
        border-radius: 1.4em;
        align-items: center;

        select {
            border-radius: 1em;
            width: 6em;
            text-overflow: ellipsis;
            height: 2.2em;
        }

        div {
            i {
                height: 1.6em;
                width: 1.6em;

                svg {
                    fill: var(--icon);
                }
            }
        }
    }

    .modal {
        &-main {
            .input {
                margin-bottom: 1em;
            }

            .workouts {
                .filters-container {
                    margin-top: 0.5em;
                }

                .workouts-container {
                    height: calc(100vh - 23.3em);
                    margin: 0.5em 0;
                }
            }

            .button-container-bottom {
                flex-direction: row;
                gap: 0.4em;
                margin-top: 0.6em;

                .icon {
                    height: 1.5em;
                    width: 1.5em;

                    svg {
                        fill: var(--color-white);
                    }
                }
            }
        }
    }
}
