.routine {
    .routine-container {
        height: calc(100vh - 16.3em);
        margin: 0 0.5em;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        gap: 1em;

        .exercise-name {
            font-weight: bold;
        }

        .rows {
            display: flex;
            align-items: center;
            justify-content: space-between;

            input {
                width: 1.7em;
                margin-right: 0.2em;
                text-align: center;
            }
        }
    }
}