.history {
    .row {
        display: grid;
        padding: 0.5em 0;

        .exercise-name {
            font-weight: bold;
        }

        .sets {
            display: flex;
            gap: 0.7em;
            grid-column: 1 / 3;
            padding-top: 0.25em;
        }
    }

    .row:last-child {
        padding-bottom: 0;
    }
}