.history {
    #back-container {
        i {
            height: 1.5em;
        }
    }

    &-squares {
        height: calc(100vh - 8.5em);

        h1 {
            margin-bottom: 0;
        }

        h2 {
            text-align: center;
        }

        .squares-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0.5em;
            max-height: calc(100vh - 16.3em);
            overflow-y: scroll;
            margin: 0 1em;

            .square {
                display: flex;
                aspect-ratio: 1;
                justify-content: center;
                align-items: center;
                background-color: var(--action-tertiary);
                border: 1px solid black;
                border-radius: 1em;
            }
        }

        .arrows-container {
            display: grid;
            position: fixed;
            top: 50%;
            width: 100%;
            left: 0;

            i {
                height: 1.3em;
            }

            #left {
                justify-self: baseline;
                grid-row: 1;
                margin-left: 0.17em;
            }

            #right {
                justify-self: end;
                grid-row: 1;
                margin-right: 0.17em;
            }
        }
    }

    &-sets {
        .row {
            display: grid;
            padding: 0.5em 0;

            .exercise-name {
                font-weight: bold;
            }

            .sets {
                display: flex;
                gap: 0.7em;
                grid-column: 1 / 3;
                padding-top: 0.25em;
            }
        }

        .row:last-child {
            padding-bottom: 0;
        }
    }
}