.swimming {
    h1, h2 {
        color: rgb(34, 202, 249);
    }
    #table{
        border: 1px;
    }
    tr, th{
        padding: 15px;
        border: solid 2px;
    }

    .tableRow {
        
        padding: 1px;
        th {
            padding: 10px 3px !important;
            font-size: 0.8em;
        }
    }

    .textdivs{
        display: flex;
        height: 40px;
    }
    .answers{
        margin-left: 10px;
    }
    .button{
        background-color: var(--action-quaternary);
    }
    li {
        padding: 5px;
    }
    .historyInfo{
        display: flex;
    }
}