html,
body {
    overscroll-behavior: none;
}

h1 {
    font-family: 'Roboto';
    font-weight: 600;
}

body {
    background-color: var(--background-primary);
    font-weight: 400;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    color: var(--text-primary);
}

.content {
    margin: 3em 0.7em 6.5em 0.7em;
}

.button {
    background-color: var(--action-primary);
    color: var(--action-text-primary);
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.3em;
    width: 100%;
    transition: all 0.5s;
    transition-timing-function: ease-in;
    margin-right: 0em;

    .spinner {
        position: absolute;
        right: 2.3em;
    }

    &-container {
        display: flex;
        justify-content: center;
    }

    span {
        transition: all 0.75s;
        margin-right: 0em;
    }

    &-nudge {
        span {
            margin-right: 3em;
        }
    }

    &-s {
        width: 70%;

        .spinner {
            right: 21%;
        }
    }

    &-xs {
        width: 50%;
        height: 3em;
    }

    &-xxs {
        width: 25%;
        height: 3em;
    }

    &-xxxs {
        width: 20%;
        height: 3em;
    }

    &-red {
        background-color: var(--color-red);
    }
}

.submit-container {
    position: fixed;
    width: 100%;
    bottom: 5.6em;
    left: 0;
    background-color: var(--background-primary);
    flex-direction: column;
    align-items: center;
    gap: 0.3em;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-secondary);

    &-page {
        height: calc(100vh - 5.4em);
    }

    &-section {
        height: calc(100vh - 20em);
    }

    .spinner {
        height: 2.5em;
        width: 2.5em;
    }
}

.spinner {
    border: 5px solid;
    border-bottom-color: var(--color-purple);
    height: 0.7em;
    width: 0.7em;
    -webkit-animation: fadein 1s, rotation 1s linear infinite;
    animation: fadein 1s, rotation 1s linear infinite;
    border-radius: 50%;

    transition: all 1s;
    transition-timing-function: ease-in;

    &-secondary {
        border-bottom-color: var(--color-orange);
    }

    &-smaller {
        border-width: 3.75px;
    }

    &-smallest {
        border-width: 2.5px;
    }

    @keyframes fadein {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
            animation-timing-function: cubic-bezier(0.5856, 0.0703, 0.4143, 0.9297);
        }

        100% {
            transform: rotate(360deg)
        }
    }
}

.warning {
    color: var(--error);
    font-size: 0.8em;
}

select {
    padding: 0.25em;
}

input[type=text] {
    padding-left: 0.3em;
    box-sizing: border-box;
}

.modal {
    background: rgba(0, 0, 0, .6);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;


    &-main {
        background: var(--background-primary);
        border-radius: 1em;
        color: var(--text-primary);
        height: auto;
        left: 50%;
        max-width: 24.1em;
        padding: 1em;
        position: fixed;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 80%;

        .button-container {
            flex-direction: column;
            align-items: center;

            .button-s .spinner {
                right: 24%;
            }

            .warning {
                margin-bottom: 0.5em;
            }

            &-exit {
                position: absolute;
                top: 0.5em;
                right: 0.5em;
                height: 1.3em;
                width: 1.3em;
    
                i {
                    height: 1em;
                    width: 1em;
    
                    svg {
                        fill: var(--icon);
                    }
                }
            }
        }

        .input {
            margin-bottom: 2em;
            width: 100%;
            padding: 0.3em 0;
            padding-left: 0.5em;
        }
    }
}

.icon {
    display: flex;
    height: 1em;
    width: 1em;

    svg {
        fill: var(--icon);
    }
}

.blurb {
    font-style: italic;
    font-weight: 100;
    font-size: 0.9em;
}