// @import '_fonts';

$yellow: #FEE165;
$orange: #FF8000;
$purple: #782CEB;
$blue-light: #24CAE0;
$blue-dark: #2144DE;
$green: #4DBF7D;
$red: #FF0000;
$red-dark: #BE0202;
$red-darker: #AA0101;
$gold: #FFD700;
$silver: #D8D8D8;
$bronze: #CD7F32;

$pastel-violet-light: #cb99c9;
$pastel-jade-light: #66CC99;
$pastel-blue-light: #A7C7E7;

$pastel-violet-dark: #9c3898;
$pastel-jade-dark: #339933;
$pastel-blue-dark: #125aa3;


$white: #FFF;
$white-darker: #F5F5F5;
$black: #333;
$black-darker: #2E2E2E;
$black-lighter: #4A4A4A;
$grey-lighter: #F5F5F5;
$grey-light: #E8E8E8;
$grey-dark: #555555;

$round-button: 3rem;
$square-button: 0.75rem;

@mixin light-theme {
    color-scheme: light;
    --background-primary: #{$white};
    --background-secondary: #{$grey-lighter};

    --text-primary: #{$black};
    --text-secondary: #{$black};

    --action-primary: #{$green};
    --action-secondary: #{$grey-light};
    --action-tertiary: #{$grey-light};

    --action-text-primary: #{$white};

    --nav-background: #{$black-darker};

    --icon: #{$black};

    --border: #{$black};

    --square-upper: #{$pastel-violet-light};
    --square-core: #{$pastel-jade-light};
    --square-lower: #{$pastel-blue-light};

    --row-border : #{$grey-light};

    --error: #{$red-darker};
    --read-only: #{$grey-light};
}

@mixin dark-theme {
    color-scheme: dark;
    --background-primary: #{$black-darker};
    --background-secondary: #{$black-darker};

    --text-primary: #{$white-darker};
    --text-secondary: #{$white-darker};

    --action-primary: #{$purple};
    --action-secondary: #{$black-lighter};
    --action-tertiary: #{$grey-dark};

    --action-text-primary: #{$white};

    --nav-background: #{$black-lighter};

    --icon: #{$white};

    --border: #{$white};

    --square-upper: #{$pastel-violet-dark};
    --square-core: #{$pastel-jade-dark};
    --square-lower: #{$pastel-blue-dark};

    --row-border : #{$black-lighter};

    --error: #{$red};
    --read-only: #{$grey-dark};
}

body,:root {
    --color-white: #{$white};
    --color-black: #{$black};
    --color-red: #{$red};

    --color-blue-light: #{$blue-light};
    --color-blue-dark: #{$blue-dark};
    --color-purple: #{$purple};
    --color-green: #{$green};
    --color-yellow: #{$yellow};
    --color-orange: #{$orange};

    --color-light-grey-light: #{$grey-lighter};
    --color-light-grey-dark: #{$grey-light};

    --color-dark-black: #{$black-darker};
    --color-dark-grey: #{$black-lighter};
    --color-dark-white: #{$white};

    --color-gold: #{$gold};
    --color-silver: #{$silver};
    --color-bronze: #{$bronze};

    --button-styling-round: #{$round-button};
    --button-styling-square: #{$square-button};

    --nav-fill: #{$white};

    --delete-fill: #{$red-dark};
}

.light, .light::before, .light::after {
    @include light-theme;
}

.dark, .dark::before, .dark::after {
    @include dark-theme;
}

@import 'layout.scss';