.settings {
    .theme-selection {
        margin-bottom: 2em;
    }

    .buttons-container {
        display: flex;
        flex-direction: column;
        gap: 1em;
        
        .button-grey {
            background-color: var(--color-dark-grey);
        }
    }
}